{
  "workflow_id": "npu_model_{{ family }}_qnn_llm",
  "input_model": {
    "type": "OnnxModel",
    "model_path": {{ input_model_path }}
  },
  "systems": {
    "qnn_system": {
      "type": "LocalSystem",
      "accelerators": [
        {
          "device": "npu",
          "execution_providers": [
            "QNNExecutionProvider"
          ]
        }
      ]
    }
  },
  "passes": {
    "capture_split_info": {
      "type": "CaptureSplitInfo"
    },
    "static_llm": {
      "type": "StaticLLM"
    },
    "onnx_quantization_preprocess": {
      "type": "OnnxQuantizationPreprocess"
    }
  },
  "target": {{ target_system }},
  "output_dir": {{ output_dir }},
  "cache_dir": {{ cache_dir }},
  "no_artifacts": false,
  "evaluate_input_model": false
}
